@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Nova Square", sans-serif !important;
  font-size: 1em !important; /* Default font size for small screens */
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em !important; /* Bigger font size for md and larger screens */
  }
}

ul {
  list-style: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box-container {
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px #aaaaaa;
  width: 100%;
}
